---
import { Image } from "astro:assets";
import logoEbara from "../../assets/logo/logo-ebara.png";
import logoGrundfos from "../../assets/logo/logo-grundfos.png";
import logoTorishima from "../../assets/logo/logo-torishima.png";
import logoTsurumi from "../../assets/logo/logo-tsurumi.png";

import featuredEbara from "../../assets/product/featured-ebara.png";
import featuredGrundfos from "../../assets/product/featured-grundfos.png";
import featuredTorishima from "../../assets/product/featured-torishima.png";
import featuredTsurumi from "../../assets/product/featured-tsurumi.png";

import ButtonMedium from "../ButtonMedium.astro";

console.log(logoEbara);

console.log(logoEbara.width > logoEbara.height ? "true" : "false");
---

<section class="px-5 md:px-10 py-10 md:py-20 flex flex-col gap-5 md:gap-10">
  <h3 class="subtitle">Featured Brands</h3>

  <div class="flex flex-col md:flex-row gap-5 justify-between flex-wrap">
    <a href="/products?brand=ebara" class="flex-1 md:max-w-[420px]">
      <div
        class="bg-blue-50 hover:bg-blue-100 border border-blue-100 p-5 rounded-md flex flex-col gap-5 group"
      >
        <div class="flex md:h-full justify-between w-full md:items-start">
          <Image
            src={logoEbara}
            alt="Official Logo of Ebara"
            class="max-w-14 h-fit"
          />

          <Image
            src={featuredEbara}
            alt="Featured product of Ebara"
            class="max-w-40 md:max-w-52"
          />
        </div>
        <ButtonMedium text="Browse Ebara" url="/products?brand=ebara" />
      </div>
    </a>

    <a href="/products?brand=grundfos" class="flex-1 md:max-w-[420px]">
      <div
        class="bg-blue-50 hover:bg-blue-100 border border-blue-100 p-5 rounded-md flex flex-col gap-5 group"
      >
        <div class="flex md:h-full justify-between w-full md:items-start">
          <Image
            src={logoGrundfos}
            alt="Official Logo of Grundfos"
            class="max-w-32 md:max-w-28 h-fit"
          />
          <Image
            src={featuredGrundfos}
            alt="Featured product of Grundfos"
            class="max-w-40 md:max-w-52"
          />
        </div>

        <ButtonMedium text="Browse Grundfos" url="/products?brand=grundfos" />
      </div>
    </a>

    <a href="/products?brand=torishima" class="flex-1 md:max-w-[420px]">
      <div
        class="bg-blue-50 hover:bg-blue-100 border border-blue-100 p-5 rounded-md flex flex-col gap-5 group"
      >
        <div class="flex md:h-full justify-between w-full md:items-start">
          <Image
            src={logoTorishima}
            alt="Official Logo of Torishima"
            class="max-w-32 md:max-w-28 h-fit"
          />
          <Image
            src={featuredTorishima}
            alt="Featured product of Torishima"
            class="max-w-40 md:max-w-52"
          />
        </div>
        <ButtonMedium
          text="Browse Torisihima"
          url="/products?brand=torishima"
        />
      </div>
    </a>

    <a href="/products?brand=tsurumi" class="flex-1 md:max-w-[420px]">
      <div
        class="bg-blue-50 hover:bg-blue-100 border border-blue-100 p-5 rounded-md flex flex-col gap-5 group"
      >
        <div class="flex md:h-full justify-between w-full md:items-start">
          <Image
            src={logoTsurumi}
            alt="Official Logo of Tsurumi"
            class="max-w-40 h-fit"
          />
          <Image
            src={featuredTsurumi}
            alt="Featured product of Tsurumi"
            class="max-w-40 md:max-w-52"
          />
        </div>
        <ButtonMedium text="Browse Tsurumi" url="/products?brand=tsurumi" />
      </div>
    </a>
  </div>
</section>
