---
import { Image } from "astro:assets";
import logoEbara from "../../assets/logo/logo-ebara.png";
import logoGrundfos from "../../assets/logo/logo-grundfos.png";
import logoTorishima from "../../assets/logo/logo-torishima.png";
import logoSihi from "../../assets/logo/logo-sihi.png";

import featuredEbara from "../../assets/product/featured-ebara.png";
import featuredGrundfos from "../../assets/product/featured-grundfos.png";
import featuredTorishima from "../../assets/product/featured-torishima.png";
import featuredSihi from "../../assets/product/featured-sihi.png";

import ButtonMedium from "../ButtonMedium.astro";
---

<section class="px-5 md:px-10 py-10 md:py-20 flex flex-col gap-5 md:gap-10">
  <h3 class="subtitle">Featured Brands</h3>

  <div class="flex flex-col md:flex-row gap-5 justify-between flex-wrap">
    <!-- card EBARA -->
    <a href="/products/" class="flex-1 md:max-w-[420px]">
      <div
        class="bg-blue-50 hover:bg-blue-100 border border-blue-100 p-5 rounded-md flex flex-col gap-5 group"
      >
        <div class="flex md:h-full justify-between w-full md:items-start">
          <Image
            src={logoEbara}
            alt="Official Logo of Ebara"
            class="max-w-32 md:max-w-28 h-fit"
          />

          <Image
            src={featuredEbara}
            alt="Featured product of Ebara"
            class="max-w-40 md:max-w-52"
          />
        </div>
        <ButtonMedium text="Browse Ebara" url="#" />
      </div>
    </a>

    <!-- Card Grundfos -->
    <a href="/products/" class="flex-1 md:max-w-[420px]">
      <div
        class="bg-blue-50 hover:bg-blue-100 border border-blue-100 p-5 rounded-md flex flex-col gap-5 group"
      >
        <div class="flex md:h-full justify-between w-full md:items-start">
          <Image
            src={logoGrundfos}
            alt="Official Logo of Grundfos"
            class="max-w-32 md:max-w-28 h-fit"
          />
          <Image
            src={featuredGrundfos}
            alt="Featured product of Grundfos"
            class="max-w-40 md:max-w-52"
          />
        </div>

        <ButtonMedium text="Browse Grundfos" url="#" />
      </div>
    </a>

    <a href="" class="flex-1 md:max-w-[420px]">
      <div
        class="bg-blue-50 hover:bg-blue-100 border border-blue-100 p-5 rounded-md flex flex-col gap-5 group"
      >
        <div class="flex md:h-full justify-between w-full md:items-start">
          <Image
            src={logoTorishima}
            alt="Official Logo of Torishima"
            class="max-w-32 md:max-w-28 h-fit"
          />
          <Image
            src={featuredTorishima}
            alt="Featured product of Torishima"
            class="max-w-40 md:max-w-52"
          />
        </div>
        <ButtonMedium text="Browse Torisihima" url="#" />
      </div>
    </a>

    <a href="/products/" class="flex-1 md:max-w-[420px]">
      <div
        class="bg-blue-50 hover:bg-blue-100 border border-blue-100 p-5 rounded-md flex flex-col gap-5 group"
      >
        <div class="flex md:h-full justify-between w-full md:items-start">
          <Image
            src={logoSihi}
            alt="Official Logo of Sihi"
            class="max-w-32 md:max-w-28 h-fit"
          />
          <Image
            src={featuredSihi}
            alt="Featured product of SIHI"
            class="max-w-40 md:max-w-52"
          />
        </div>
        <ButtonMedium text="Browse Sihi" url="#" />
      </div>
    </a>
  </div>
</section>
