---
import Image from "astro/components/Image.astro";
const { name, image, slug } = Astro.props;
---

<div class="flex-1 h-fit rounded-lg overflow-hidden bg-blue-50">
  <a href={`/products/${slug}`}>
    <Image
      src={image[0]}
      width={600}
      height={600}
      class="aspect-square object-cover"
      alt={`Preview product of: ${name}`}
    />
  </a>
  <div class="p-3">
    <p class="text-base font-medium">{name}</p>
    <a
      href={`/products/${slug}`}
      class="text-brand-sea-blue text-sm hover:text-blue-800">Detail</a
    >
  </div>
</div>
