---
const {
  title = "SANDY JAYA UTAMA | Penyedia dan servis pompa industri, suku cadang, mekanikal dan elektrikal",
  description = "Penyedia pompa air industri dan suku cadang seperti Grundfos, Ebara, Torishima, Sihi, Tsurumi Pump, OBL, Oriental Koshin",
  keywords = "Penyedia Pompa Air Industri di Indonesia, pompa air industri, Grundfos, Ebara, Torishima, Sihi, pompa sentrifugal, pompa submersible, pompa booster, solusi pompa industri, Tsurumi, OBL, KOSHIN, Siemens, Teco, WEG, CMG, Isuzu, FG Wilson",
  canonical = "https://www.sandyjaya.com",
} = Astro.props;
---

<title>{title}</title>
<meta name="description" content={description} />
<meta name="keywords" content={keywords} />
<link rel="canonical" href={canonical} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content="/assets/images/SJU-og-images.jpg" />
<meta name="robots" content="index, follow" />
